<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Add INTERNET permission here -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnelasReservationSystem"
        tools:targetApi="31">
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyOtpActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".CartFolder.CartActivity"
            android:exported="false"
            android:theme="@style/Theme.AnelasReservationSystem" />
        <activity
            android:name=".ReservationActivity"
            android:exported="false" /> <!-- Other activity declarations -->
        <activity
            android:name=".RoomDetailFolder.RoomDetailActivity"
            android:exported="false" /> <!-- Add this line -->
        <activity
            android:name=".AddRoomActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false"
            android:theme="@style/Theme.AnelasReservationSystem" />
        <activity
            android:name=".Profile.ProfilePage"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".onboarding.GetStarted"
            android:exported="false" />
        <activity
            android:name=".onboarding.NavigationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>